In [1]:
import pandas as pd

In [2]:
Bloqueos=pd.read_csv('bloqueos_por_jugador.csv')

In [3]:
Tiros_libres=pd.read_csv('conteo_tiros_libres.csv')

In [5]:
Asistencias=pd.read_csv('max_assists_por_jugador.csv')
Puntos=pd.read_csv('max_puntos_por_jugador.csv')
Rebotes=pd.read_csv('max_rebotes_por_jugador.csv')

In [6]:
Tiros_fallados=pd.read_csv('tiros_fallados_por_jugador.csv')
Turnover=pd.read_csv('Turnover_por_jugador.csv')

In [12]:
Tiros_libres

         game_id      player1_name  Total_IN  Total_OUT
0       11300001       Bo McCalebb         1          1
1       11300001  Bojan Bogdanovic         7          1
2       11300001      Derek Fisher         4          0
3       11300001     Emir Preldzic         2          1
4       11300001     Gasper Vidmar         2          6
...          ...               ...       ...        ...
363965  49800087        Malik Rose         1          1
363966  49800087      Marcus Camby         1          0
363967  49800087        Mario Elie         4          0
363968  49800087      Sean Elliott         2          0
363969  49800087        Tim Duncan         7          2

[363970 rows x 4 columns]

In [7]:
Bloqueos

         game_id     player3_name  Block_Count
0       11300001      Baris Ermis            1
1       11300001  Hasheem Thabeet            1
2       11300001     James Birsen            1
3       11300001      Jeremy Lamb            2
4       11300001    Nick Collison            1
...          ...              ...          ...
189018  49800086     Sean Elliott            1
189019  49800086       Tim Duncan            3
189020  49800087   David Robinson            1
189021  49800087     Marcus Camby            1
189022  49800087       Tim Duncan            1

[189023 rows x 3 columns]

In [8]:
Tiros_fallados

         game_id      player1_name  Missed_Shots_Count
0       11300001    Andre Roberson                   2
1       11300001      Ayberk Olmaz                   1
2       11300001       Bo McCalebb                   3
3       11300001  Bojan Bogdanovic                   6
4       11300001      Derek Fisher                   2
...          ...               ...                 ...
558108  49800087      Marcus Camby                   3
558109  49800087        Mario Elie                   4
558110  49800087      Sean Elliott                   4
558111  49800087        Steve Kerr                   1
558112  49800087        Tim Duncan                  10

[558113 rows x 3 columns]

In [9]:
Asistencias

         game_id    player2_name  Max_Assists
0       11300001    Ayberk Olmaz          1.0
1       11300001     Bo McCalebb          3.0
2       11300001    Derek Fisher          3.0
3       11300001  Diante Garrett          2.0
4       11300001   Emir Preldzic          4.0
...          ...             ...          ...
430251  49800087      Malik Rose          1.0
430252  49800087    Marcus Camby          1.0
430253  49800087      Mario Elie          3.0
430254  49800087    Sean Elliott          5.0
430255  49800087      Tim Duncan          2.0

[430256 rows x 3 columns]

In [10]:
Puntos

         game_id      player1_name  Max_Points
0       11300001    Andre Roberson         4.0
1       11300001       Baris Ermis         2.0
2       11300001       Bo McCalebb        13.0
3       11300001  Bojan Bogdanovic        15.0
4       11300001      Derek Fisher         8.0
...          ...               ...         ...
525990  49800087     Larry Johnson         6.0
525991  49800087  Latrell Sprewell        33.0
525992  49800087      Marcus Camby         7.0
525993  49800087        Mario Elie        10.0
525994  49800087        Tim Duncan        30.0

[525995 rows x 3 columns]

In [11]:
Turnover

         game_id       player_name  Steals  Lost Ball  Bad Pass  Foul
0       11300001    Andre Roberson       2          0         1     0
1       11300001      Ayberk Olmaz       0          1         0     0
2       11300001       Baris Ermis       0          0         1     0
3       11300001       Bo McCalebb       4          0         0     0
4       11300001  Bojan Bogdanovic       0          0         1     0
...          ...               ...     ...        ...       ...   ...
462595  49800087  Latrell Sprewell       2          2         1     0
462596  49800087        Malik Rose       1          0         0     1
462597  49800087      Marcus Camby       0          0         1     0
462598  49800087        Mario Elie       2          0         1     0
462599  49800087        Tim Duncan       0          0         1     0

[462600 rows x 6 columns]

In [13]:
Rebotes

         game_id      player1_name  Max_Total_Rebounds
0       11300001    Andre Roberson                 6.0
1       11300001      Ayberk Olmaz                 3.0
2       11300001       Baris Ermis                 1.0
3       11300001       Bo McCalebb                 2.0
4       11300001  Bojan Bogdanovic                 4.0
...          ...               ...                 ...
545887  49800087      Marcus Camby                 5.0
545888  49800087        Mario Elie                 6.0
545889  49800087      Sean Elliott                 6.0
545890  49800087        Steve Kerr                 1.0
545891  49800087        Tim Duncan                 9.0

[545892 rows x 3 columns]

In [14]:


# Supongamos que los DataFrames están previamente cargados
# Renombramos la columna del jugador a 'player_name' en cada DataFrame para estandarizar
Tiros_libres.rename(columns={'player1_name': 'player_name'}, inplace=True)
Bloqueos.rename(columns={'player3_name': 'player_name'}, inplace=True)
Tiros_fallados.rename(columns={'player1_name': 'player_name'}, inplace=True)
Asistencias.rename(columns={'player2_name': 'player_name'}, inplace=True)
Puntos.rename(columns={'player1_name': 'player_name'}, inplace=True)
Turnover.rename(columns={'player_name': 'player_name'}, inplace=True)
Rebotes.rename(columns={'player1_name': 'player_name'}, inplace=True)

# Fusionamos todos los DataFrames, asegurándonos de que `game_id` y `player_name` sean únicos
dataframes = [Tiros_libres, Bloqueos, Tiros_fallados, Asistencias, Puntos, Turnover, Rebotes]
fusionado = pd.DataFrame()

for df in dataframes:
    if fusionado.empty:
        fusionado = df
    else:
        fusionado = pd.merge(fusionado, df, on=['game_id', 'player_name'], how='outer')

# Mostramos el DataFrame final
print(fusionado.head())

    game_id       player_name  Total_IN  Total_OUT  Block_Count  \
0  11300001    Andre Roberson       NaN        NaN          NaN
1  11300001      Ayberk Olmaz       NaN        NaN          NaN
2  11300001       Baris Ermis       NaN        NaN          1.0
3  11300001       Bo McCalebb       1.0        1.0          NaN
4  11300001  Bojan Bogdanovic       7.0        1.0          NaN

   Missed_Shots_Count  Max_Assists  Max_Points  Steals  Lost Ball  Bad Pass  \
0                 2.0          NaN         4.0     2.0        0.0       1.0
1                 1.0          1.0         NaN     0.0        1.0       0.0
2                 NaN          NaN         2.0     0.0        0.0       1.0
3                 3.0          3.0        13.0     4.0        0.0       0.0
4                 6.0          NaN        15.0     0.0        0.0       1.0

   Foul  Max_Total_Rebounds
0   0.0                 6.0
1   0.0                 3.0
2   0.0                 1.0
3   0.0                 2.0
4   0.0                 4.0

In [15]:
fusionado

,game_id,player_name,Total_IN,Total_OUT,Block_Count,Missed_Shots_Count,Max_Assists,Max_Points,Steals,Lost Ball,Bad Pass,Foul,Max_Total_Rebounds
0,11300001,Andre Roberson,NaN,NaN,NaN,2.0,NaN,4.0,2.0,0.0,1.0,0.0,6.0
1,11300001,Ayberk Olmaz,NaN,NaN,NaN,1.0,1.0,NaN,0.0,1.0,0.0,0.0,3.0
2,11300001,Baris Ermis,NaN,NaN,1.0,NaN,NaN,2.0,0.0,0.0,1.0,0.0,1.0
3,11300001,Bo McCalebb,1.0,1.0,NaN,3.0,3.0,13.0,4.0,0.0,0.0,0.0,2.0
4,11300001,Bojan Bogdanovic,7.0,1.0,NaN,6.0,NaN,15.0,0.0,0.0,1.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
605761,49800087,Marcus Camby,1.0,0.0,1.0,3.0,1.0,7.0,0.0,0.0,1.0,0.0,5.0
605762,49800087,Mario Elie,4.0,0.0,NaN,4.0,3.0,10.0,2.0,0.0,1.0,0.0,6.0
605763,49800087,Sean Elliott,2.0,0.0,NaN,4.0,5.0,NaN,NaN,NaN,NaN,NaN,6.0
605764,49800087,Steve Kerr,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
605765,49800087,Tim Duncan,7.0,2.0,1.0,10.0,2.0,30.0,0.0,0.0,1.0,0.0,9.0

In [17]:
# Guardar el DataFrame fusionado en un archivo CSV
fusionado.to_csv('DataFrame_Fusionado.csv', index=False)

# Mensaje de confirmación
print("El DataFrame fusionado se ha guardado como 'DataFrame_Fusionado.csv'.")

El DataFrame fusionado se ha guardado como 'DataFrame_Fusionado.csv'.

In [2]:
Fusionado=pd.read_csv('Dataframe_Fusionado.csv')

In [38]:
# Filtrar el DataFrame
avance = Fusionado[
    (Fusionado['game_id'] == 40800301)]

# Mostrar el resultado
avance

Empty DataFrame
Columns: [game_id, player_name, Total_Tiros_Libres_IN, Total_Tiros_Libres_OUT, Block_Count, Missed_Shots_Count, Max_Assists, Max_Points, Steals, Lost Ball, Bad Pass, Foul, Max_Total_Rebounds, Total_puntos, game_date, person_id, birthdate]
Index: []

In [5]:
# Agregar la columna Total_puntos sumando Max_Points y Total_IN
Fusionado['Total_puntos'] = Fusionado['Max_Points'] + Fusionado['Total_IN']

In [8]:
# Renombrar las columnas Total_IN y Total_OUT
Fusionado.rename(columns={'Total_IN': 'Total_Tiros_Libres_IN', 'Total_OUT': 'Total_Tiros_Libres_OUT'}, inplace=True)

# Mostrar las primeras filas para verificar los cambios
print(Fusionado.head())

    game_id       player_name  Total_Tiros_Libres_IN  Total_Tiros_Libres_OUT  \
0  11300001    Andre Roberson                    NaN                     NaN
1  11300001      Ayberk Olmaz                    NaN                     NaN
2  11300001       Baris Ermis                    NaN                     NaN
3  11300001       Bo McCalebb                    1.0                     1.0
4  11300001  Bojan Bogdanovic                    7.0                     1.0

   Block_Count  Missed_Shots_Count  Max_Assists  Max_Points  Steals  \
0          NaN                 2.0          NaN         4.0     2.0
1          NaN                 1.0          1.0         NaN     0.0
2          1.0                 NaN          NaN         2.0     0.0
3          NaN                 3.0          3.0        13.0     4.0
4          NaN                 6.0          NaN        15.0     0.0

   Lost Ball  Bad Pass  Foul  Max_Total_Rebounds  Total_puntos
0        0.0       1.0   0.0                 6.0           NaN
1        1.0       0.0   0.0                 3.0           NaN
2        0.0       1.0   0.0                 1.0           NaN
3        0.0       0.0   0.0                 2.0          14.0
4        0.0       1.0   0.0                 4.0          22.0

In [9]:
Fusionado

,game_id,player_name,Total_Tiros_Libres_IN,Total_Tiros_Libres_OUT,Block_Count,Missed_Shots_Count,Max_Assists,Max_Points,Steals,Lost Ball,Bad Pass,Foul,Max_Total_Rebounds,Total_puntos
0,11300001,Andre Roberson,NaN,NaN,NaN,2.0,NaN,4.0,2.0,0.0,1.0,0.0,6.0,NaN
1,11300001,Ayberk Olmaz,NaN,NaN,NaN,1.0,1.0,NaN,0.0,1.0,0.0,0.0,3.0,NaN
2,11300001,Baris Ermis,NaN,NaN,1.0,NaN,NaN,2.0,0.0,0.0,1.0,0.0,1.0,NaN
3,11300001,Bo McCalebb,1.0,1.0,NaN,3.0,3.0,13.0,4.0,0.0,0.0,0.0,2.0,14.0
4,11300001,Bojan Bogdanovic,7.0,1.0,NaN,6.0,NaN,15.0,0.0,0.0,1.0,0.0,4.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605761,49800087,Marcus Camby,1.0,0.0,1.0,3.0,1.0,7.0,0.0,0.0,1.0,0.0,5.0,8.0
605762,49800087,Mario Elie,4.0,0.0,NaN,4.0,3.0,10.0,2.0,0.0,1.0,0.0,6.0,14.0
605763,49800087,Sean Elliott,2.0,0.0,NaN,4.0,5.0,NaN,NaN,NaN,NaN,NaN,6.0,NaN
605764,49800087,Steve Kerr,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
605765,49800087,Tim Duncan,7.0,2.0,1.0,10.0,2.0,30.0,0.0,0.0,1.0,0.0,9.0,37.0

In [10]:
# Guardar el DataFrame fusionado actualizado como CSV
Fusionado.to_csv('DataFrame_Fusionado.csv', index=False)

# Verificación
print("CSV actualizado correctamente.")

CSV actualizado correctamente.

In [1]:
import pandas as pd

In [2]:
Player_info=pd.read_csv('Player.csv')

In [3]:
Player_info

           id            full_name first_name     last_name  is_active
0       76001       Alaa Abdelnaby       Alaa     Abdelnaby          0
1       76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz          0
2       76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar          0
3          51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf          0
4        1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad          0
...       ...                  ...        ...           ...        ...
4826  1627790           Ante Zizic       Ante         Zizic          0
4827    78647             Jim Zoet        Jim          Zoet          0
4828    78648            Bill Zopf       Bill          Zopf          0
4829  1627826          Ivica Zubac      Ivica         Zubac          1
4830    78650           Matt Zunic       Matt         Zunic          0

[4831 rows x 5 columns]

In [4]:
Player=pd.read_csv('common_player_info.csv')

In [19]:
Player

,person_id,first_name,last_name,display_first_last,display_last_comma_first,display_fi_last,player_slug,birthdate,school,country,...,playercode,from_year,to_year,dleague_flag,nba_flag,games_played_flag,draft_year,draft_round,draft_number,greatest_75_flag
0,76001,Alaa,Abdelnaby,Alaa Abdelnaby,"Abdelnaby, Alaa",A. Abdelnaby,alaa-abdelnaby,1968-06-24,Duke,USA,...,HISTADD_alaa_abdelnaby,1990.0,1994.0,N,Y,Y,1990,1,25,N
1,76003,Kareem,Abdul-Jabbar,Kareem Abdul-Jabbar,"Abdul-Jabbar, Kareem",K. Abdul-Jabbar,kareem-abdul-jabbar,1947-04-16,UCLA,USA,...,HISTADD_kareem_abdul-jabbar,1969.0,1988.0,N,Y,Y,1969,1,1,Y
2,1505,Tariq,Abdul-Wahad,Tariq Abdul-Wahad,"Abdul-Wahad, Tariq",T. Abdul-Wahad,tariq-abdul-wahad,1974-11-03,San Jose State,France,...,tariq_abdul-wahad,1997.0,2003.0,N,Y,Y,1997,1,11,N
3,949,Shareef,Abdur-Rahim,Shareef Abdur-Rahim,"Abdur-Rahim, Shareef",S. Abdur-Rahim,shareef-abdur-rahim,1976-12-11,California,USA,...,shareef_abdur-rahim,1996.0,2007.0,N,Y,Y,1996,1,3,N
4,76005,Tom,Abernethy,Tom Abernethy,"Abernethy, Tom",T. Abernethy,tom-abernethy,1954-05-06,Indiana,USA,...,HISTADD_tom_abernethy,1976.0,1980.0,N,Y,Y,1976,3,43,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4166,1627835,Paul,Zipser,Paul Zipser,"Zipser, Paul",P. Zipser,paul-zipser,1994-02-18,Bayern Munich,Germany,...,paul_zipser,2016.0,2017.0,Y,Y,Y,2016,2,48,N
4167,1627790,Ante,Zizic,Ante Zizic,"Zizic, Ante",A. Zizic,ante-zizic,1997-01-04,Darussafaka,Croatia,...,ante_zizic,2017.0,2019.0,Y,Y,Y,2016,1,23,N
4168,78647,Jim,Zoet,Jim Zoet,"Zoet, Jim",J. Zoet,jim-zoet,1953-12-30,Kent State,USA,...,HISTADD_jim_zoet,1982.0,1982.0,N,Y,Y,Undrafted,Undrafted,Undrafted,N
4169,1627826,Ivica,Zubac,Ivica Zubac,"Zubac, Ivica",I. Zubac,ivica-zubac,1997-03-18,Mega Basket,Croatia,...,ivica_zubac,2016.0,2023.0,Y,Y,Y,2016,2,32,N
4170,78650,Matt,Zunic,Matt Zunic,"Zunic, Matt",M. Zunic,matt-zunic,1919-12-19,George Washington,USA,...,HISTADD_matt_zunic,1948.0,1948.0,N,Y,Y,1947,NaN,NaN,N

In [9]:
Fusionado=pd.read_csv('DataFrame_Fusionado.csv')
Fusionado

,game_id,player_name,Total_Tiros_Libres_IN,Total_Tiros_Libres_OUT,Block_Count,Missed_Shots_Count,Max_Assists,Max_Points,Steals,Lost Ball,Bad Pass,Foul,Max_Total_Rebounds,Total_puntos
0,11300001,Andre Roberson,NaN,NaN,NaN,2.0,NaN,4.0,2.0,0.0,1.0,0.0,6.0,NaN
1,11300001,Ayberk Olmaz,NaN,NaN,NaN,1.0,1.0,NaN,0.0,1.0,0.0,0.0,3.0,NaN
2,11300001,Baris Ermis,NaN,NaN,1.0,NaN,NaN,2.0,0.0,0.0,1.0,0.0,1.0,NaN
3,11300001,Bo McCalebb,1.0,1.0,NaN,3.0,3.0,13.0,4.0,0.0,0.0,0.0,2.0,14.0
4,11300001,Bojan Bogdanovic,7.0,1.0,NaN,6.0,NaN,15.0,0.0,0.0,1.0,0.0,4.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605761,49800087,Marcus Camby,1.0,0.0,1.0,3.0,1.0,7.0,0.0,0.0,1.0,0.0,5.0,8.0
605762,49800087,Mario Elie,4.0,0.0,NaN,4.0,3.0,10.0,2.0,0.0,1.0,0.0,6.0,14.0
605763,49800087,Sean Elliott,2.0,0.0,NaN,4.0,5.0,NaN,NaN,NaN,NaN,NaN,6.0,NaN
605764,49800087,Steve Kerr,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
605765,49800087,Tim Duncan,7.0,2.0,1.0,10.0,2.0,30.0,0.0,0.0,1.0,0.0,9.0,37.0

In [5]:
Player

,person_id,first_name,last_name,display_first_last,display_last_comma_first,display_fi_last,player_slug,birthdate,school,country,...,playercode,from_year,to_year,dleague_flag,nba_flag,games_played_flag,draft_year,draft_round,draft_number,greatest_75_flag
0,76001,Alaa,Abdelnaby,Alaa Abdelnaby,"Abdelnaby, Alaa",A. Abdelnaby,alaa-abdelnaby,1968-06-24 00:00:00,Duke,USA,...,HISTADD_alaa_abdelnaby,1990.0,1994.0,N,Y,Y,1990,1,25,N
1,76003,Kareem,Abdul-Jabbar,Kareem Abdul-Jabbar,"Abdul-Jabbar, Kareem",K. Abdul-Jabbar,kareem-abdul-jabbar,1947-04-16 00:00:00,UCLA,USA,...,HISTADD_kareem_abdul-jabbar,1969.0,1988.0,N,Y,Y,1969,1,1,Y
2,1505,Tariq,Abdul-Wahad,Tariq Abdul-Wahad,"Abdul-Wahad, Tariq",T. Abdul-Wahad,tariq-abdul-wahad,1974-11-03 00:00:00,San Jose State,France,...,tariq_abdul-wahad,1997.0,2003.0,N,Y,Y,1997,1,11,N
3,949,Shareef,Abdur-Rahim,Shareef Abdur-Rahim,"Abdur-Rahim, Shareef",S. Abdur-Rahim,shareef-abdur-rahim,1976-12-11 00:00:00,California,USA,...,shareef_abdur-rahim,1996.0,2007.0,N,Y,Y,1996,1,3,N
4,76005,Tom,Abernethy,Tom Abernethy,"Abernethy, Tom",T. Abernethy,tom-abernethy,1954-05-06 00:00:00,Indiana,USA,...,HISTADD_tom_abernethy,1976.0,1980.0,N,Y,Y,1976,3,43,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4166,1627835,Paul,Zipser,Paul Zipser,"Zipser, Paul",P. Zipser,paul-zipser,1994-02-18 00:00:00,Bayern Munich,Germany,...,paul_zipser,2016.0,2017.0,Y,Y,Y,2016,2,48,N
4167,1627790,Ante,Zizic,Ante Zizic,"Zizic, Ante",A. Zizic,ante-zizic,1997-01-04 00:00:00,Darussafaka,Croatia,...,ante_zizic,2017.0,2019.0,Y,Y,Y,2016,1,23,N
4168,78647,Jim,Zoet,Jim Zoet,"Zoet, Jim",J. Zoet,jim-zoet,1953-12-30 00:00:00,Kent State,USA,...,HISTADD_jim_zoet,1982.0,1982.0,N,Y,Y,Undrafted,Undrafted,Undrafted,N
4169,1627826,Ivica,Zubac,Ivica Zubac,"Zubac, Ivica",I. Zubac,ivica-zubac,1997-03-18 00:00:00,Mega Basket,Croatia,...,ivica_zubac,2016.0,2023.0,Y,Y,Y,2016,2,32,N
4170,78650,Matt,Zunic,Matt Zunic,"Zunic, Matt",M. Zunic,matt-zunic,1919-12-19 00:00:00,George Washington,USA,...,HISTADD_matt_zunic,1948.0,1948.0,N,Y,Y,1947,NaN,NaN,N

In [6]:
game_info=pd.read_csv('game_info.csv')
game_info

        game_id            game_date  attendance game_time
0      24600001  1946-11-01 00:00:00         NaN       NaN
1      24600003  1946-11-02 00:00:00         NaN       NaN
2      24600002  1946-11-02 00:00:00         NaN       NaN
3      24600004  1946-11-02 00:00:00         NaN       NaN
4      24600005  1946-11-02 00:00:00         NaN       NaN
...         ...                  ...         ...       ...
58048  42200403  2023-06-07 00:00:00     20019.0      2:24
58049  42200404  2023-06-09 00:00:00     20184.0      2:29
58050  42200405  2023-06-12 00:00:00     19537.0      2:22
58051  32200001  2023-02-19 00:00:00     17886.0      0:00
58052  32200001  2023-02-19 00:00:00     17886.0      0:00

[58053 rows x 4 columns]

In [10]:
# Asegurarse de que ambos DataFrames tengan 'game_id' como columna clave
Fusionado['game_id'] = Fusionado['game_id'].astype(str)
game_info['game_id'] = game_info['game_id'].astype(str)

# Convertir la columna game_date a tipo datetime en el dataframe game_info
game_info['game_date'] = pd.to_datetime(game_info['game_date'])

# Extraer solo la parte de la fecha (sin la hora)
game_info['game_date'] = game_info['game_date'].dt.date

# Realizar el merge con el dataframe Fusionado basado en game_id
Fusionado = Fusionado.merge(game_info[['game_id', 'game_date']], on='game_id', how='left')

# Mostrar el resultado
print(Fusionado.head())

    game_id       player_name  Total_Tiros_Libres_IN  Total_Tiros_Libres_OUT  \
0  11300001    Andre Roberson                    NaN                     NaN
1  11300001      Ayberk Olmaz                    NaN                     NaN
2  11300001       Baris Ermis                    NaN                     NaN
3  11300001       Bo McCalebb                    1.0                     1.0
4  11300001  Bojan Bogdanovic                    7.0                     1.0

   Block_Count  Missed_Shots_Count  Max_Assists  Max_Points  Steals  \
0          NaN                 2.0          NaN         4.0     2.0
1          NaN                 1.0          1.0         NaN     0.0
2          1.0                 NaN          NaN         2.0     0.0
3          NaN                 3.0          3.0        13.0     4.0
4          NaN                 6.0          NaN        15.0     0.0

   Lost Ball  Bad Pass  Foul  Max_Total_Rebounds  Total_puntos   game_date
0        0.0       1.0   0.0                 6.0           NaN  2013-10-05
1        1.0       0.0   0.0                 3.0           NaN  2013-10-05
2        0.0       1.0   0.0                 1.0           NaN  2013-10-05
3        0.0       0.0   0.0                 2.0          14.0  2013-10-05
4        0.0       1.0   0.0                 4.0          22.0  2013-10-05

In [11]:
# Asegurarse de que los nombres coincidan en el tipo de dato
Fusionado['player_name'] = Fusionado['player_name'].astype(str)
Player['display_first_last'] = Player['display_first_last'].astype(str)

# Convertir birthdate a datetime para extraer solo la fecha
Player['birthdate'] = pd.to_datetime(Player['birthdate'])
Player['birthdate'] = Player['birthdate'].dt.date

# Realizar el merge entre Fusionado y Player
Fusionado = Fusionado.merge(
    Player[['display_first_last', 'person_id', 'birthdate']],
    left_on='player_name',
    right_on='display_first_last',
    how='left'
)

# Eliminar la columna 'display_first_last' ya que no es necesaria en el resultado final
Fusionado = Fusionado.drop(columns=['display_first_last'])

# Mostrar el DataFrame actualizado
print(Fusionado.head())

    game_id       player_name  Total_Tiros_Libres_IN  Total_Tiros_Libres_OUT  \
0  11300001    Andre Roberson                    NaN                     NaN
1  11300001      Ayberk Olmaz                    NaN                     NaN
2  11300001       Baris Ermis                    NaN                     NaN
3  11300001       Bo McCalebb                    1.0                     1.0
4  11300001  Bojan Bogdanovic                    7.0                     1.0

   Block_Count  Missed_Shots_Count  Max_Assists  Max_Points  Steals  \
0          NaN                 2.0          NaN         4.0     2.0
1          NaN                 1.0          1.0         NaN     0.0
2          1.0                 NaN          NaN         2.0     0.0
3          NaN                 3.0          3.0        13.0     4.0
4          NaN                 6.0          NaN        15.0     0.0

   Lost Ball  Bad Pass  Foul  Max_Total_Rebounds  Total_puntos   game_date  \
0        0.0       1.0   0.0                 6.0           NaN  2013-10-05
1        1.0       0.0   0.0                 3.0           NaN  2013-10-05
2        0.0       1.0   0.0                 1.0           NaN  2013-10-05
3        0.0       0.0   0.0                 2.0          14.0  2013-10-05
4        0.0       1.0   0.0                 4.0          22.0  2013-10-05

   person_id   birthdate
0   203460.0  1991-12-04
1        NaN         NaN
2        NaN         NaN
3        NaN         NaN
4   202711.0  1989-04-18

In [12]:
Fusionado

,game_id,player_name,Total_Tiros_Libres_IN,Total_Tiros_Libres_OUT,Block_Count,Missed_Shots_Count,Max_Assists,Max_Points,Steals,Lost Ball,Bad Pass,Foul,Max_Total_Rebounds,Total_puntos,game_date,person_id,birthdate
0,11300001,Andre Roberson,NaN,NaN,NaN,2.0,NaN,4.0,2.0,0.0,1.0,0.0,6.0,NaN,2013-10-05,203460.0,1991-12-04
1,11300001,Ayberk Olmaz,NaN,NaN,NaN,1.0,1.0,NaN,0.0,1.0,0.0,0.0,3.0,NaN,2013-10-05,NaN,NaN
2,11300001,Baris Ermis,NaN,NaN,1.0,NaN,NaN,2.0,0.0,0.0,1.0,0.0,1.0,NaN,2013-10-05,NaN,NaN
3,11300001,Bo McCalebb,1.0,1.0,NaN,3.0,3.0,13.0,4.0,0.0,0.0,0.0,2.0,14.0,2013-10-05,NaN,NaN
4,11300001,Bojan Bogdanovic,7.0,1.0,NaN,6.0,NaN,15.0,0.0,0.0,1.0,0.0,4.0,22.0,2013-10-05,202711.0,1989-04-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611329,49800087,Marcus Camby,1.0,0.0,1.0,3.0,1.0,7.0,0.0,0.0,1.0,0.0,5.0,8.0,1999-06-25,948.0,1974-03-22
611330,49800087,Mario Elie,4.0,0.0,NaN,4.0,3.0,10.0,2.0,0.0,1.0,0.0,6.0,14.0,1999-06-25,53.0,1963-11-26
611331,49800087,Sean Elliott,2.0,0.0,NaN,4.0,5.0,NaN,NaN,NaN,NaN,NaN,6.0,NaN,1999-06-25,251.0,1968-02-02
611332,49800087,Steve Kerr,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1999-06-25,NaN,NaN
611333,49800087,Tim Duncan,7.0,2.0,1.0,10.0,2.0,30.0,0.0,0.0,1.0,0.0,9.0,37.0,1999-06-25,1495.0,1976-04-25

In [13]:
# Crear una copia para trabajar y evitar efectos colaterales
Fusionado_filled = Fusionado.copy()

# Iterar por cada columna que queremos llenar
for columna in ['person_id', 'birthdate']:
    # Crear un mapeo único por player_name para no repetirse
    mapeo = Fusionado_filled.dropna(subset=[columna]).drop_duplicates(subset=['player_name'])[['player_name', columna]]
    mapeo_dict = dict(zip(mapeo['player_name'], mapeo[columna]))
    
    # Usar el mapeo para llenar los valores nulos
    Fusionado_filled[columna] = Fusionado_filled.apply(
        lambda row: mapeo_dict.get(row['player_name'], row[columna]) if pd.isnull(row[columna]) else row[columna],
        axis=1
    )

# Mostrar un ejemplo del DataFrame resultante
print(Fusionado_filled.head())

    game_id       player_name  Total_Tiros_Libres_IN  Total_Tiros_Libres_OUT  \
0  11300001    Andre Roberson                    NaN                     NaN
1  11300001      Ayberk Olmaz                    NaN                     NaN
2  11300001       Baris Ermis                    NaN                     NaN
3  11300001       Bo McCalebb                    1.0                     1.0
4  11300001  Bojan Bogdanovic                    7.0                     1.0

   Block_Count  Missed_Shots_Count  Max_Assists  Max_Points  Steals  \
0          NaN                 2.0          NaN         4.0     2.0
1          NaN                 1.0          1.0         NaN     0.0
2          1.0                 NaN          NaN         2.0     0.0
3          NaN                 3.0          3.0        13.0     4.0
4          NaN                 6.0          NaN        15.0     0.0

   Lost Ball  Bad Pass  Foul  Max_Total_Rebounds  Total_puntos   game_date  \
0        0.0       1.0   0.0                 6.0           NaN  2013-10-05
1        1.0       0.0   0.0                 3.0           NaN  2013-10-05
2        0.0       1.0   0.0                 1.0           NaN  2013-10-05
3        0.0       0.0   0.0                 2.0          14.0  2013-10-05
4        0.0       1.0   0.0                 4.0          22.0  2013-10-05

   person_id   birthdate
0   203460.0  1991-12-04
1        NaN         NaN
2        NaN         NaN
3        NaN         NaN
4   202711.0  1989-04-18

In [14]:
Fusionado_filled

,game_id,player_name,Total_Tiros_Libres_IN,Total_Tiros_Libres_OUT,Block_Count,Missed_Shots_Count,Max_Assists,Max_Points,Steals,Lost Ball,Bad Pass,Foul,Max_Total_Rebounds,Total_puntos,game_date,person_id,birthdate
0,11300001,Andre Roberson,NaN,NaN,NaN,2.0,NaN,4.0,2.0,0.0,1.0,0.0,6.0,NaN,2013-10-05,203460.0,1991-12-04
1,11300001,Ayberk Olmaz,NaN,NaN,NaN,1.0,1.0,NaN,0.0,1.0,0.0,0.0,3.0,NaN,2013-10-05,NaN,NaN
2,11300001,Baris Ermis,NaN,NaN,1.0,NaN,NaN,2.0,0.0,0.0,1.0,0.0,1.0,NaN,2013-10-05,NaN,NaN
3,11300001,Bo McCalebb,1.0,1.0,NaN,3.0,3.0,13.0,4.0,0.0,0.0,0.0,2.0,14.0,2013-10-05,NaN,NaN
4,11300001,Bojan Bogdanovic,7.0,1.0,NaN,6.0,NaN,15.0,0.0,0.0,1.0,0.0,4.0,22.0,2013-10-05,202711.0,1989-04-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611329,49800087,Marcus Camby,1.0,0.0,1.0,3.0,1.0,7.0,0.0,0.0,1.0,0.0,5.0,8.0,1999-06-25,948.0,1974-03-22
611330,49800087,Mario Elie,4.0,0.0,NaN,4.0,3.0,10.0,2.0,0.0,1.0,0.0,6.0,14.0,1999-06-25,53.0,1963-11-26
611331,49800087,Sean Elliott,2.0,0.0,NaN,4.0,5.0,NaN,NaN,NaN,NaN,NaN,6.0,NaN,1999-06-25,251.0,1968-02-02
611332,49800087,Steve Kerr,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1999-06-25,NaN,NaN
611333,49800087,Tim Duncan,7.0,2.0,1.0,10.0,2.0,30.0,0.0,0.0,1.0,0.0,9.0,37.0,1999-06-25,1495.0,1976-04-25

In [20]:

# Copiar el DataFrame original para trabajar
Fusionado_actualizado = Fusionado.copy()

# Modificar la columna person_id para eliminar el ".0"
Fusionado_actualizado['person_id'] = Fusionado_actualizado['person_id'].astype(str).str.replace('.0', '', regex=False)

# Asegurar que las columnas game_date y birthdate sean del tipo datetime
Fusionado_actualizado['game_date'] = pd.to_datetime(Fusionado_actualizado['game_date'])
Fusionado_actualizado['birthdate'] = pd.to_datetime(Fusionado_actualizado['birthdate'])

# Calcular la edad del jugador en el momento del partido
Fusionado_actualizado['edad'] = Fusionado_actualizado.apply(
    lambda row: row['game_date'].year - row['birthdate'].year - 
    ((row['game_date'].month, row['game_date'].day) < (row['birthdate'].month, row['birthdate'].day)),
    axis=1
)

# Mostrar un ejemplo del DataFrame actualizado
print(Fusionado_actualizado[['player_name', 'game_date', 'birthdate', 'edad', 'person_id']].head())

        player_name  game_date  birthdate  edad person_id
0    Andre Roberson 2013-10-05 1991-12-04  21.0    203460
1      Ayberk Olmaz 2013-10-05        NaT   NaN       nan
2       Baris Ermis 2013-10-05        NaT   NaN       nan
3       Bo McCalebb 2013-10-05        NaT   NaN       nan
4  Bojan Bogdanovic 2013-10-05 1989-04-18  24.0    202711

In [26]:
Fusionado_actualizado

,game_id,player_name,Total_Tiros_Libres_IN,Total_Tiros_Libres_OUT,Block_Count,Missed_Shots_Count,Max_Assists,Max_Points,Steals,Lost Ball,Bad Pass,Foul,Max_Total_Rebounds,Total_puntos,game_date,person_id,birthdate,edad
0,11300001,Andre Roberson,NaN,NaN,NaN,2.0,NaN,4.0,2.0,0.0,1.0,0.0,6.0,NaN,2013-10-05,203460,1991-12-04,21.0
1,11300001,Ayberk Olmaz,NaN,NaN,NaN,1.0,1.0,NaN,0.0,1.0,0.0,0.0,3.0,NaN,2013-10-05,nan,NaT,NaN
2,11300001,Baris Ermis,NaN,NaN,1.0,NaN,NaN,2.0,0.0,0.0,1.0,0.0,1.0,NaN,2013-10-05,nan,NaT,NaN
3,11300001,Bo McCalebb,1.0,1.0,NaN,3.0,3.0,13.0,4.0,0.0,0.0,0.0,2.0,14.0,2013-10-05,nan,NaT,NaN
4,11300001,Bojan Bogdanovic,7.0,1.0,NaN,6.0,NaN,15.0,0.0,0.0,1.0,0.0,4.0,22.0,2013-10-05,202711,1989-04-18,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611329,49800087,Marcus Camby,1.0,0.0,1.0,3.0,1.0,7.0,0.0,0.0,1.0,0.0,5.0,8.0,1999-06-25,948,1974-03-22,25.0
611330,49800087,Mario Elie,4.0,0.0,NaN,4.0,3.0,10.0,2.0,0.0,1.0,0.0,6.0,14.0,1999-06-25,53,1963-11-26,35.0
611331,49800087,Sean Elliott,2.0,0.0,NaN,4.0,5.0,NaN,NaN,NaN,NaN,NaN,6.0,NaN,1999-06-25,251,1968-02-02,31.0
611332,49800087,Steve Kerr,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1999-06-25,nan,NaT,NaN
611333,49800087,Tim Duncan,7.0,2.0,1.0,10.0,2.0,30.0,0.0,0.0,1.0,0.0,9.0,37.0,1999-06-25,1495,1976-04-25,23.0

In [45]:
# Filtrar el DataFrame
resultado = Fusionado_actualizado[
    (Fusionado_actualizado['game_id'] ==11300027	)]

# Mostrar el resultado
resultado

,game_id,player_name,Total_Tiros_Libres_IN,Total_Tiros_Libres_OUT,Block_Count,Missed_Shots_Count,Max_Assists,Max_Points,Steals,Lost Ball,Bad Pass,Foul,Max_Total_Rebounds,Total_puntos,game_date,person_id,birthdate,edad
674,11300027,Aaron Jackson,2.0,0.0,NaN,3.0,2.0,NaN,0.0,0.0,0.0,1.0,2.0,NaN,2013-10-09,1628935,1986-05-06,27.0
675,11300027,Aron Baynes,2.0,0.0,NaN,5.0,NaN,12.0,NaN,NaN,NaN,NaN,7.0,14.0,2013-10-09,203382,1986-12-09,26.0
676,11300027,Boris Diaw,NaN,NaN,NaN,1.0,2.0,8.0,0.0,2.0,1.0,0.0,4.0,NaN,2013-10-09,2564,1982-04-16,31.0
677,11300027,Cory Joseph,2.0,0.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2013-10-09,202709,1991-08-20,22.0
678,11300027,Danny Green,NaN,NaN,NaN,2.0,2.0,5.0,0.0,0.0,0.0,1.0,1.0,NaN,2013-10-09,201980,1987-06-22,26.0
679,11300027,Jeff Ayres,NaN,NaN,NaN,1.0,NaN,4.0,1.0,0.0,0.0,0.0,8.0,NaN,2013-10-09,201965,1987-04-29,26.0
680,11300027,Jeremy Pargo,1.0,1.0,NaN,8.0,5.0,20.0,0.0,0.0,1.0,0.0,6.0,21.0,2013-10-09,nan,NaT,NaN
681,11300027,Kawhi Leonard,2.0,0.0,NaN,3.0,1.0,5.0,1.0,0.0,0.0,0.0,1.0,7.0,2013-10-09,202695,1991-06-29,22.0
682,11300027,Kyle Hines,2.0,0.0,2.0,3.0,1.0,5.0,NaN,NaN,NaN,NaN,9.0,7.0,2013-10-09,nan,NaT,NaN
683,11300027,Manu Ginobili,3.0,0.0,1.0,NaN,2.0,14.0,4.0,0.0,3.0,0.0,5.0,17.0,2013-10-09,1938,1977-07-28,36.0
684,11300027,Marco Belinelli,NaN,NaN,NaN,2.0,1.0,3.0,0.0,0.0,1.0,0.0,2.0,NaN,2013-10-09,nan,NaT,NaN
685,11300027,Matt Bonner,NaN,NaN,NaN,3.0,NaN,2.0,1.0,0.0,0.0,0.0,NaN,NaN,2013-10-09,2588,1980-04-05,33.0
686,11300027,Milos Teodosic,NaN,NaN,NaN,4.0,2.0,7.0,0.0,2.0,1.0,1.0,2.0,NaN,2013-10-09,1628462,1987-03-19,26.0
687,11300027,Nando De Colo,NaN,NaN,NaN,4.0,1.0,2.0,1.0,0.0,0.0,0.0,2.0,NaN,2013-10-09,nan,NaT,NaN
688,11300027,Nenad Krstic,2.0,0.0,2.0,6.0,NaN,8.0,0.0,1.0,0.0,0.0,6.0,10.0,2013-10-09,2420,1983-07-25,30.0
689,11300027,Patty Mills,1.0,0.0,NaN,7.0,1.0,14.0,2.0,0.0,0.0,0.0,1.0,15.0,2013-10-09,nan,NaT,NaN
690,11300027,Sam Young,NaN,NaN,NaN,6.0,NaN,NaN,1.0,1.0,1.0,0.0,4.0,NaN,2013-10-09,201970,1985-06-01,28.0
691,11300027,Sasha Kaun,3.0,0.0,1.0,1.0,NaN,6.0,0.0,0.0,2.0,1.0,6.0,9.0,2013-10-09,201619,1985-05-08,28.0
692,11300027,Sonny Weems,NaN,NaN,NaN,5.0,2.0,16.0,NaN,NaN,NaN,NaN,1.0,NaN,2013-10-09,201603,1986-07-08,27.0
693,11300027,Tiago Splitter,0.0,2.0,NaN,5.0,3.0,6.0,NaN,NaN,NaN,NaN,6.0,6.0,2013-10-09,201168,1985-01-01,28.0
694,11300027,Tim Duncan,2.0,0.0,2.0,5.0,2.0,10.0,1.0,0.0,1.0,1.0,2.0,12.0,2013-10-09,1495,1976-04-25,37.0
695,11300027,Tony Parker,2.0,0.0,NaN,4.0,5.0,6.0,NaN,NaN,NaN,NaN,NaN,8.0,2013-10-09,2225,1982-05-17,31.0
696,11300027,Victor Khryapa,NaN,NaN,NaN,7.0,7.0,12.0,2.0,2.0,3.0,0.0,7.0,NaN,2013-10-09,nan,NaT,NaN
697,11300027,Vitaly Fridzon,NaN,NaN,1.0,6.0,1.0,10.0,1.0,0.0,1.0,1.0,7.0,NaN,2013-10-09,nan,NaT,NaN
698,11300027,Vladimir Micov,NaN,NaN,NaN,2.0,2.0,5.0,1.0,0.0,0.0,0.0,3.0,NaN,2013-10-09,nan,NaT,NaN

In [39]:
print(Fusionado_actualizado['game_id'].dtype)
print(type(11300027))

object
<class 'int'>

In [40]:
Fusionado_actualizado['game_id'] = Fusionado_actualizado['game_id'].astype(int)

In [41]:
Fusionado_actualizado['game_id'] = Fusionado_actualizado['game_id'].astype(str).str.strip()

In [42]:
Fusionado_actualizado['game_id'] = Fusionado_actualizado['game_id'].astype(int)

In [43]:
print(Fusionado_actualizado['game_id'].unique())

[11300001 11300002 11300003 ... 49800085 49800086 49800087]

In [55]:
resultado = Fusionado_actualizado[Fusionado_actualizado['game_id'] == 11300027]
print(resultado)

      game_id      player_name  Total_Tiros_Libres_IN  Total_Tiros_Libres_OUT  \
674  11300027    Aaron Jackson                    2.0                     0.0
675  11300027      Aron Baynes                    2.0                     0.0
676  11300027       Boris Diaw                    0.0                     0.0
677  11300027      Cory Joseph                    2.0                     0.0
678  11300027      Danny Green                    0.0                     0.0
679  11300027       Jeff Ayres                    0.0                     0.0
680  11300027     Jeremy Pargo                    1.0                     1.0
681  11300027    Kawhi Leonard                    2.0                     0.0
682  11300027       Kyle Hines                    2.0                     0.0
683  11300027    Manu Ginobili                    3.0                     0.0
684  11300027  Marco Belinelli                    0.0                     0.0
685  11300027      Matt Bonner                    0.0                     0.0
686  11300027   Milos Teodosic                    0.0                     0.0
687  11300027    Nando De Colo                    0.0                     0.0
688  11300027     Nenad Krstic                    2.0                     0.0
689  11300027      Patty Mills                    1.0                     0.0
690  11300027        Sam Young                    0.0                     0.0
691  11300027       Sasha Kaun                    3.0                     0.0
692  11300027      Sonny Weems                    0.0                     0.0
693  11300027   Tiago Splitter                    0.0                     2.0
694  11300027       Tim Duncan                    2.0                     0.0
695  11300027      Tony Parker                    2.0                     0.0
696  11300027   Victor Khryapa                    0.0                     0.0
697  11300027   Vitaly Fridzon                    0.0                     0.0
698  11300027   Vladimir Micov                    0.0                     0.0

     Block_Count  Missed_Shots_Count  Max_Assists  Max_Points  Steals  \
674          0.0                 3.0          2.0         0.0     0.0
675          0.0                 5.0          0.0        12.0     0.0
676          0.0                 1.0          2.0         8.0     0.0
677          0.0                 1.0          0.0         0.0     0.0
678          0.0                 2.0          2.0         5.0     0.0
679          0.0                 1.0          0.0         4.0     1.0
680          0.0                 8.0          5.0        20.0     0.0
681          0.0                 3.0          1.0         5.0     1.0
682          2.0                 3.0          1.0         5.0     0.0
683          1.0                 0.0          2.0        14.0     4.0
684          0.0                 2.0          1.0         3.0     0.0
685          0.0                 3.0          0.0         2.0     1.0
686          0.0                 4.0          2.0         7.0     0.0
687          0.0                 4.0          1.0         2.0     1.0
688          2.0                 6.0          0.0         8.0     0.0
689          0.0                 7.0          1.0        14.0     2.0
690          0.0                 6.0          0.0         0.0     1.0
691          1.0                 1.0          0.0         6.0     0.0
692          0.0                 5.0          2.0        16.0     0.0
693          0.0                 5.0          3.0         6.0     0.0
694          2.0                 5.0          2.0        10.0     1.0
695          0.0                 4.0          5.0         6.0     0.0
696          0.0                 7.0          7.0        12.0     2.0
697          1.0                 6.0          1.0        10.0     1.0
698          0.0                 2.0          2.0         5.0     1.0

     Lost Ball  Bad Pass  Foul  Max_Total_Rebounds  Total_puntos  \
674        0.0       0.0   1.0                 2.0           0.0
675        0.0       0.0   0.0                 7.0          14.0
676        2.0       1.0   0.0                 4.0           0.0
677        0.0       0.0   0.0                 1.0           0.0
678        0.0       0.0   1.0                 1.0           0.0
679        0.0       0.0   0.0                 8.0           0.0
680        0.0       1.0   0.0                 6.0          21.0
681        0.0       0.0   0.0                 1.0           7.0
682        0.0       0.0   0.0                 9.0           7.0
683        0.0       3.0   0.0                 5.0          17.0
684        0.0       1.0   0.0                 2.0           0.0
685        0.0       0.0   0.0                 0.0           0.0
686        2.0       1.0   1.0                 2.0           0.0
687        0.0       0.0   0.0                 2.0           0.0
688        1.0       0.0   0.0                 6.0          10.0
689        0.0       0.0   0.0                 1.0          15.0
690        1.0       1.0   0.0                 4.0           0.0
691        0.0       2.0   1.0                 6.0           9.0
692        0.0       0.0   0.0                 1.0           0.0
693        0.0       0.0   0.0                 6.0           6.0
694        0.0       1.0   1.0                 2.0          12.0
695        0.0       0.0   0.0                 0.0           8.0
696        2.0       3.0   0.0                 7.0           0.0
697        0.0       1.0   1.0                 7.0           0.0
698        0.0       0.0   0.0                 3.0           0.0

               game_date person_id            birthdate  edad
674  2013-10-09 00:00:00   1628935  1986-05-06 00:00:00  27.0
675  2013-10-09 00:00:00    203382  1986-12-09 00:00:00  26.0
676  2013-10-09 00:00:00      2564  1982-04-16 00:00:00  31.0
677  2013-10-09 00:00:00    202709  1991-08-20 00:00:00  22.0
678  2013-10-09 00:00:00    201980  1987-06-22 00:00:00  26.0
679  2013-10-09 00:00:00    201965  1987-04-29 00:00:00  26.0
680  2013-10-09 00:00:00       nan                    0   0.0
681  2013-10-09 00:00:00    202695  1991-06-29 00:00:00  22.0
682  2013-10-09 00:00:00       nan                    0   0.0
683  2013-10-09 00:00:00      1938  1977-07-28 00:00:00  36.0
684  2013-10-09 00:00:00       nan                    0   0.0
685  2013-10-09 00:00:00      2588  1980-04-05 00:00:00  33.0
686  2013-10-09 00:00:00   1628462  1987-03-19 00:00:00  26.0
687  2013-10-09 00:00:00       nan                    0   0.0
688  2013-10-09 00:00:00      2420  1983-07-25 00:00:00  30.0
689  2013-10-09 00:00:00       nan                    0   0.0
690  2013-10-09 00:00:00    201970  1985-06-01 00:00:00  28.0
691  2013-10-09 00:00:00    201619  1985-05-08 00:00:00  28.0
692  2013-10-09 00:00:00    201603  1986-07-08 00:00:00  27.0
693  2013-10-09 00:00:00    201168  1985-01-01 00:00:00  28.0
694  2013-10-09 00:00:00      1495  1976-04-25 00:00:00  37.0
695  2013-10-09 00:00:00      2225  1982-05-17 00:00:00  31.0
696  2013-10-09 00:00:00       nan                    0   0.0
697  2013-10-09 00:00:00       nan                    0   0.0
698  2013-10-09 00:00:00       nan                    0   0.0

In [54]:


# Suponiendo que tu DataFrame se llama "Fusionado"
# Rellenar valores NaN y NaT con 0
Fusionado_actualizado.fillna(0, inplace=True)

# Mostrar un resumen para verificar
print(Fusionado_actualizado.info())

C:\Users\Usuario\AppData\Local\Temp\ipykernel_30652\2499360257.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  Fusionado_actualizado.fillna(0, inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611334 entries, 0 to 611333
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   game_id                 611334 non-null  int64
 1   player_name             611334 non-null  object
 2   Total_Tiros_Libres_IN   611334 non-null  float64
 3   Total_Tiros_Libres_OUT  611334 non-null  float64
 4   Block_Count             611334 non-null  float64
 5   Missed_Shots_Count      611334 non-null  float64
 6   Max_Assists             611334 non-null  float64
 7   Max_Points              611334 non-null  float64
 8   Steals                  611334 non-null  float64
 9   Lost Ball               611334 non-null  float64
 10  Bad Pass                611334 non-null  float64
 11  Foul                    611334 non-null  float64
 12  Max_Total_Rebounds      611334 non-null  float64
 13  Total_puntos            611334 non-null  float64
 14  game_date               611334 non-null  object
 15  person_id               611334 non-null  object
 16  birthdate               611334 non-null  object
 17  edad                    611334 non-null  float64
dtypes: float64(13), int64(1), object(4)
memory usage: 84.0+ MB
None

In [81]:
# Convertir la columna 'game_date' a formato datetime si no lo está
Fusionado_actualizado['game_date'] = pd.to_datetime(Fusionado_actualizado['game_date'])

# Función para calcular la temporada
def determinar_temporada(fecha):
    año = fecha.year
    if fecha.month >= 9:  # Si el mes es septiembre (9) o después, es el inicio de la nueva temporada
        return f"{año}-{año + 1}"
    else:  # Si el mes es antes de septiembre, pertenece a la temporada del año anterior
        return f"{año - 1}-{año}"

# Aplicar la función al DataFrame
Fusionado_actualizado['season'] = Fusionado_actualizado['game_date'].apply(determinar_temporada)

Fusionado_actualizado

,game_id,player_name,Total_Tiros_Libres_IN,Total_Tiros_Libres_OUT,Block_Count,Missed_Shots_Count,Max_Assists,Max_Points,Steals,Lost Ball,Bad Pass,Foul,Max_Total_Rebounds,Total_puntos,game_date,person_id,birthdate,edad,season
0,11300001,Andre Roberson,0.0,0.0,0.0,2.0,0.0,4.0,2.0,0.0,1.0,0.0,6.0,0.0,2013-10-05,203460,1991-12-04 00:00:00,21.0,2013-2014
1,11300001,Ayberk Olmaz,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,0.0,2013-10-05,nan,0,0.0,2013-2014
2,11300001,Baris Ermis,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,1.0,0.0,2013-10-05,nan,0,0.0,2013-2014
3,11300001,Bo McCalebb,1.0,1.0,0.0,3.0,3.0,13.0,4.0,0.0,0.0,0.0,2.0,14.0,2013-10-05,nan,0,0.0,2013-2014
4,11300001,Bojan Bogdanovic,7.0,1.0,0.0,6.0,0.0,15.0,0.0,0.0,1.0,0.0,4.0,22.0,2013-10-05,202711,1989-04-18 00:00:00,24.0,2013-2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611329,49800087,Marcus Camby,1.0,0.0,1.0,3.0,1.0,7.0,0.0,0.0,1.0,0.0,5.0,8.0,1999-06-25,948,1974-03-22 00:00:00,25.0,1998-1999
611330,49800087,Mario Elie,4.0,0.0,0.0,4.0,3.0,10.0,2.0,0.0,1.0,0.0,6.0,14.0,1999-06-25,53,1963-11-26 00:00:00,35.0,1998-1999
611331,49800087,Sean Elliott,2.0,0.0,0.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,1999-06-25,251,1968-02-02 00:00:00,31.0,1998-1999
611332,49800087,Steve Kerr,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1999-06-25,nan,0,0.0,1998-1999
611333,49800087,Tim Duncan,7.0,2.0,1.0,10.0,2.0,30.0,0.0,0.0,1.0,0.0,9.0,37.0,1999-06-25,1495,1976-04-25 00:00:00,23.0,1998-1999

In [82]:
import pandas as pd
import numpy as np

# Excluir columnas que no se agruparán
columnas_a_sumar = [
    "Total_Tiros_Libres_IN", "Total_Tiros_Libres_OUT", "Block_Count",
    "Missed_Shots_Count", "Max_Assists", "Max_Points", "Steals",
    "Lost Ball", "Bad Pass", "Foul", "Max_Total_Rebounds", "Total_puntos"
]

# Calcular edad promedio por jugador y temporada
def calcular_edad_promedio(edad_group):
    return np.mean(edad_group)

# Agrupar y sumar las columnas, excepto la edad
Fusionado_season = (
    Fusionado_actualizado.groupby(["season", "player_name"])
    .agg({
        **{col: "sum" for col in columnas_a_sumar},  # Sumar las columnas
        "edad": calcular_edad_promedio               # Calcular la edad promedio
    })
    .reset_index()  # Restablecer el índice para mantener la estructura
)

# Reorganizar las columnas: primero 'season', luego 'player_name'
Fusionado_season = Fusionado_season[["season", "player_name"] + columnas_a_sumar + ["edad"]+ ["game_date"]]

# Mostrar un vistazo del DataFrame resultante
print(Fusionado_season.head())

KeyError: "['game_date'] not in index"

In [60]:
Fusionado_season

,season,player_name,Total_Tiros_Libres_IN,Total_Tiros_Libres_OUT,Block_Count,Missed_Shots_Count,Max_Assists,Max_Points,Steals,Lost Ball,Bad Pass,Foul,Max_Total_Rebounds,Total_puntos,edad
0,1969-1970,A.C. Green,38.0,19.0,8.0,130.0,30.0,233.0,37.0,11.0,10.0,5.0,274.0,204.0,0.0000
1,1969-1970,A.J. Guyton,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000
2,1969-1970,A.J. Lawson,0.0,0.0,0.0,3.0,6.0,5.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0000
3,1969-1970,AJ Green,0.0,0.0,0.0,6.0,2.0,16.0,1.0,0.0,0.0,0.0,6.0,0.0,0.0000
4,1969-1970,AJ Griffin,11.0,0.0,3.0,54.0,16.0,123.0,6.0,3.0,3.0,0.0,31.0,85.0,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15569,2022-2023,Zeke Nnaji,42.0,25.0,19.0,78.0,19.0,250.0,11.0,2.0,6.0,16.0,130.0,187.0,21.4375
15570,2022-2023,Ziaire Williams,25.0,6.0,6.0,109.0,37.0,190.0,14.0,10.0,14.0,2.0,80.0,139.0,21.0000
15571,2022-2023,Zion Williamson,152.0,66.0,12.0,154.0,101.0,616.0,24.0,33.0,27.0,14.0,164.0,768.0,22.0000
15572,2022-2023,Ziv Maoz,1.0,0.0,0.0,2.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000
15573,2022-2023,Zylan Cheatham,1.0,1.0,0.0,4.0,4.0,6.0,0.0,0.0,1.0,1.0,15.0,5.0,26.0000

In [61]:
# Convertir las columnas numéricas a enteros
columnas_a_convertir = [
    "Total_Tiros_Libres_IN", "Total_Tiros_Libres_OUT", "Block_Count",
    "Missed_Shots_Count", "Max_Assists", "Max_Points", "Steals",
    "Lost Ball", "Bad Pass", "Foul", "Max_Total_Rebounds", "Total_puntos", "edad"
]

# Convertir cada columna a tipo entero
for col in columnas_a_convertir:
    Fusionado_season[col] = Fusionado_season[col].astype(int)

Fusionado_season

,season,player_name,Total_Tiros_Libres_IN,Total_Tiros_Libres_OUT,Block_Count,Missed_Shots_Count,Max_Assists,Max_Points,Steals,Lost Ball,Bad Pass,Foul,Max_Total_Rebounds,Total_puntos,edad
0,1969-1970,A.C. Green,38,19,8,130,30,233,37,11,10,5,274,204,0
1,1969-1970,A.J. Guyton,0,0,0,2,0,0,0,0,0,0,0,0,0
2,1969-1970,A.J. Lawson,0,0,0,3,6,5,1,0,0,1,1,0,0
3,1969-1970,AJ Green,0,0,0,6,2,16,1,0,0,0,6,0,0
4,1969-1970,AJ Griffin,11,0,3,54,16,123,6,3,3,0,31,85,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15569,2022-2023,Zeke Nnaji,42,25,19,78,19,250,11,2,6,16,130,187,21
15570,2022-2023,Ziaire Williams,25,6,6,109,37,190,14,10,14,2,80,139,21
15571,2022-2023,Zion Williamson,152,66,12,154,101,616,24,33,27,14,164,768,22
15572,2022-2023,Ziv Maoz,1,0,0,2,0,5,0,0,0,0,0,0,0
15573,2022-2023,Zylan Cheatham,1,1,0,4,4,6,0,0,1,1,15,5,26

In [1]:
import pandas as pd
Fusionado_season=pd.read_csv('Fusionado_season.csv')

In [2]:
# Convertir a minúsculas para comparar
Fusionado_season['player_name'] = Fusionado_season['player_name'].str.lower()

# Filtrar con el nombre en minúsculas
avance = Fusionado_season[Fusionado_season['player_name'] == 'donovan mitchell']
avance

,season,player_name,Total_Tiros_Libres_IN,Total_Tiros_Libres_OUT,Block_Count,Missed_Shots_Count,Max_Assists,Max_Points,Steals,Lost Ball,Bad Pass,Foul,Max_Total_Rebounds,Total_puntos,edad
9859,2017-2018,donovan mitchell,240.0,52.0,27.0,758.0,284.0,1548.0,113.0,79.0,91.0,10.0,300.0,1693.0,21.000000
10484,2018-2019,donovan mitchell,276.0,69.0,29.0,777.0,283.0,1572.0,92.0,60.0,99.0,17.0,273.0,1754.0,22.000000
11010,2019-2020,donovan mitchell,250.0,39.0,14.0,616.0,241.0,1366.0,67.0,56.0,75.0,17.0,244.0,1512.0,23.000000
11558,2020-2021,donovan mitchell,290.0,52.0,16.0,665.0,296.0,1433.0,53.0,56.0,91.0,8.0,244.0,1668.0,23.982456
12159,2021-2022,donovan mitchell,246.0,41.0,14.0,697.0,316.0,1487.0,88.0,68.0,78.0,16.0,236.0,1626.0,25.000000
12786,2022-2023,donovan mitchell,282.0,46.0,24.0,665.0,284.0,1662.0,88.0,48.0,90.0,14.0,246.0,1884.0,26.000000

In [3]:
# Filtrar las filas donde 'edad' sea diferente de 0
Fusionado_season = Fusionado_season[Fusionado_season['edad'] != 0]

# Reiniciar el índice del DataFrame después de eliminar filas
Fusionado_season.reset_index(drop=True, inplace=True)

# Verificar el resultado
print(Fusionado_season)

          season      player_name  Total_Tiros_Libres_IN  \
0      1996-1997       a.c. green                   96.0
1      1996-1997      aaron mckie                   63.0
2      1996-1997   aaron williams                   29.0
3      1996-1997        acie earl                   46.0
4      1996-1997       adam keefe                   54.0
...          ...              ...                    ...
11096  2022-2023      zach lavine                  294.0
11097  2022-2023       zeke nnaji                   42.0
11098  2022-2023  ziaire williams                   25.0
11099  2022-2023  zion williamson                  152.0
11100  2022-2023   zylan cheatham                    1.0

       Total_Tiros_Libres_OUT  Block_Count  Missed_Shots_Count  Max_Assists  \
0                        56.0         12.0               176.0         44.0
1                        10.0         15.0               162.0        125.0
2                        16.0         23.0                54.0         12.0
3                        28.0         24.0                88.0         15.0
4                        22.0         11.0                67.0         27.0
...                       ...          ...                 ...          ...
11096                    53.0         16.0               577.0        269.0
11097                    25.0         19.0                78.0         19.0
11098                     6.0          6.0               109.0         37.0
11099                    66.0         12.0               154.0        101.0
11100                     1.0          0.0                 4.0          4.0

       Max_Points  Steals  Lost Ball  Bad Pass  Foul  Max_Total_Rebounds  \
0           372.0    45.0       22.0      17.0   5.0               468.0
1           289.0    59.0       15.0      36.0   8.0               171.0
2           150.0    14.0        6.0      10.0   7.0               114.0
3           136.0    14.0        9.0       9.0   3.0                78.0
4           160.0    23.0        8.0      13.0   6.0               189.0
...           ...     ...        ...       ...   ...                 ...
11096      1450.0    59.0       51.0      68.0  11.0               281.0
11097       250.0    11.0        2.0       6.0  16.0               130.0
11098       190.0    14.0       10.0      14.0   2.0                80.0
11099       616.0    24.0       33.0      27.0  14.0               164.0
11100         6.0     0.0        0.0       1.0   1.0                15.0

       Total_puntos       edad
0             386.0  33.000000
1             233.0  24.000000
2             137.0  25.000000
3             132.0  26.000000
4             162.0  26.307692
...             ...        ...
11096        1678.0  27.174603
11097         187.0  21.437500
11098         139.0  21.000000
11099         768.0  22.000000
11100           5.0  26.000000

[11101 rows x 15 columns]

In [85]:
# Guardar el DataFrame fusionado actualizado como CSV
Fusionado_season.to_csv('Fusionado_season.csv', index=False)

# Verificación
print("CSV actualizado correctamente.")

CSV actualizado correctamente.

In [4]:
# Filtrar las filas donde la columna 'season' no sea igual a "1969-1970"
Fusionado_season = Fusionado_season[Fusionado_season['season'] != "1969-1970"]

# Reiniciar los índices del DataFrame tras eliminar las filas
Fusionado_season.reset_index(drop=True, inplace=True)

In [5]:

# Convertir todas las columnas numéricas a enteros
Fusionado_season = Fusionado_season.apply(lambda x: x.astype(int) if x.dtype in ['float64', 'int64'] else x)

# Verificar el resultado
Fusionado_season

,season,player_name,Total_Tiros_Libres_IN,Total_Tiros_Libres_OUT,Block_Count,Missed_Shots_Count,Max_Assists,Max_Points,Steals,Lost Ball,Bad Pass,Foul,Max_Total_Rebounds,Total_puntos,edad
0,1996-1997,a.c. green,96,56,12,176,44,372,45,22,17,5,468,386,33
1,1996-1997,aaron mckie,63,10,15,162,125,289,59,15,36,8,171,233,24
2,1996-1997,aaron williams,29,16,23,54,12,150,14,6,10,7,114,137,25
3,1996-1997,acie earl,46,28,24,88,15,136,14,9,9,3,78,132,26
4,1996-1997,adam keefe,54,22,11,67,27,160,23,8,13,6,189,162,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11096,2022-2023,zach lavine,294,53,16,577,269,1450,59,51,68,11,281,1678,27
11097,2022-2023,zeke nnaji,42,25,19,78,19,250,11,2,6,16,130,187,21
11098,2022-2023,ziaire williams,25,6,6,109,37,190,14,10,14,2,80,139,21
11099,2022-2023,zion williamson,152,66,12,154,101,616,24,33,27,14,164,768,22
11100,2022-2023,zylan cheatham,1,1,0,4,4,6,0,0,1,1,15,5,26

In [6]:
# Convertir a minúsculas para comparar
Fusionado_season['player_name'] = Fusionado_season['player_name'].str.lower()

# Filtrar con el nombre en minúsculas
avance = Fusionado_season[Fusionado_season['player_name'] == 'lebron james']
avance

,season,player_name,Total_Tiros_Libres_IN,Total_Tiros_Libres_OUT,Block_Count,Missed_Shots_Count,Max_Assists,Max_Points,Steals,Lost Ball,Bad Pass,Foul,Max_Total_Rebounds,Total_puntos,edad
2889,2003-2004,lebron james,265,84,43,681,367,1223,107,57,104,30,316,1441,18
3287,2004-2005,lebron james,363,113,43,704,453,1615,128,46,123,17,459,1975,19
3695,2005-2006,lebron james,486,191,49,773,407,1953,115,52,98,25,429,2439,20
4084,2006-2007,lebron james,534,213,53,899,515,2126,132,73,136,37,557,2631,21
4476,2007-2008,lebron james,517,191,79,814,508,1962,133,55,141,29,569,2450,22
4843,2008-2009,lebron james,577,173,81,759,541,2084,113,60,93,28,572,2647,23
5224,2009-2010,lebron james,523,160,73,678,582,1943,121,57,132,28,507,2454,24
5603,2010-2011,lebron james,584,176,60,831,567,2257,140,86,156,41,682,2841,25
6011,2011-2012,lebron james,408,141,46,563,372,1682,113,49,131,15,530,2054,26
6263,2012-2013,lebron james,133,47,18,253,155,586,43,17,51,14,191,704,28
6598,2013-2014,lebron james,470,152,37,641,503,2140,138,73,152,26,581,2548,28
7070,2014-2015,lebron james,407,154,59,814,569,1822,120,86,162,30,542,2229,29
7525,2015-2016,lebron james,345,137,57,725,541,1920,124,60,153,37,609,2212,30
7967,2016-2017,lebron james,398,186,58,650,662,2137,109,81,191,31,679,2462,31
8460,2017-2018,lebron james,466,171,85,841,824,2552,126,99,239,38,803,3018,32
8935,2018-2019,lebron james,219,112,32,446,352,1177,53,31,101,12,389,1378,33
9387,2019-2020,lebron james,267,121,37,639,665,1631,76,51,160,28,536,1868,34
9862,2020-2021,lebron james,240,105,41,510,459,1443,65,46,136,16,500,1655,35
10388,2021-2022,lebron james,202,66,44,482,275,1326,55,37,93,15,378,1504,36
10906,2022-2023,lebron james,246,77,39,585,368,1482,57,42,104,23,472,1698,37

In [7]:
# Calcular la columna UPER para cada jugador y temporada
Fusionado_season['UPER'] = (
    (1 / 20) * (
        (
            Fusionado_season['Total_Tiros_Libres_IN'] +
            Fusionado_season['Block_Count'] +
            Fusionado_season['Max_Assists'] +
            Fusionado_season['Max_Points'] +
            Fusionado_season['Steals'] +
            Fusionado_season['Max_Total_Rebounds']
        )
        - (
            Fusionado_season['Total_Tiros_Libres_OUT'] +
            Fusionado_season['Lost Ball'] +
            Fusionado_season['Bad Pass'] +
            Fusionado_season['Foul']
        )
    )
)

# Verificar las primeras filas para confirmar el cálculo
Fusionado_season

,season,player_name,Total_Tiros_Libres_IN,Total_Tiros_Libres_OUT,Block_Count,Missed_Shots_Count,Max_Assists,Max_Points,Steals,Lost Ball,Bad Pass,Foul,Max_Total_Rebounds,Total_puntos,edad,UPER
0,1996-1997,a.c. green,96,56,12,176,44,372,45,22,17,5,468,386,33,46.85
1,1996-1997,aaron mckie,63,10,15,162,125,289,59,15,36,8,171,233,24,32.65
2,1996-1997,aaron williams,29,16,23,54,12,150,14,6,10,7,114,137,25,15.15
3,1996-1997,acie earl,46,28,24,88,15,136,14,9,9,3,78,132,26,13.20
4,1996-1997,adam keefe,54,22,11,67,27,160,23,8,13,6,189,162,26,20.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11096,2022-2023,zach lavine,294,53,16,577,269,1450,59,51,68,11,281,1678,27,109.30
11097,2022-2023,zeke nnaji,42,25,19,78,19,250,11,2,6,16,130,187,21,21.10
11098,2022-2023,ziaire williams,25,6,6,109,37,190,14,10,14,2,80,139,21,16.00
11099,2022-2023,zion williamson,152,66,12,154,101,616,24,33,27,14,164,768,22,46.45
11100,2022-2023,zylan cheatham,1,1,0,4,4,6,0,0,1,1,15,5,26,1.15

In [8]:
Fusionado_filtrado = Fusionado_season.apply(lambda x: x.astype(int) if x.dtype in ['float64', 'int64'] else x)

In [10]:
# Convertir a minúsculas para comparar
Fusionado_filtrado['player_name'] = Fusionado_filtrado['player_name'].str.lower()

# Filtrar con el nombre en minúsculas
avance = Fusionado_filtrado[Fusionado_filtrado['player_name'] == 'lebron james']
avance

,season,player_name,Total_Tiros_Libres_IN,Total_Tiros_Libres_OUT,Block_Count,Missed_Shots_Count,Max_Assists,Max_Points,Steals,Lost Ball,Bad Pass,Foul,Max_Total_Rebounds,Total_puntos,edad,UPER
2889,2003-2004,lebron james,265,84,43,681,367,1223,107,57,104,30,316,1441,18,102
3287,2004-2005,lebron james,363,113,43,704,453,1615,128,46,123,17,459,1975,19,138
3695,2005-2006,lebron james,486,191,49,773,407,1953,115,52,98,25,429,2439,20,153
4084,2006-2007,lebron james,534,213,53,899,515,2126,132,73,136,37,557,2631,21,172
4476,2007-2008,lebron james,517,191,79,814,508,1962,133,55,141,29,569,2450,22,167
4843,2008-2009,lebron james,577,173,81,759,541,2084,113,60,93,28,572,2647,23,180
5224,2009-2010,lebron james,523,160,73,678,582,1943,121,57,132,28,507,2454,24,168
5603,2010-2011,lebron james,584,176,60,831,567,2257,140,86,156,41,682,2841,25,191
6011,2011-2012,lebron james,408,141,46,563,372,1682,113,49,131,15,530,2054,26,140
6263,2012-2013,lebron james,133,47,18,253,155,586,43,17,51,14,191,704,28,49
6598,2013-2014,lebron james,470,152,37,641,503,2140,138,73,152,26,581,2548,28,173
7070,2014-2015,lebron james,407,154,59,814,569,1822,120,86,162,30,542,2229,29,154
7525,2015-2016,lebron james,345,137,57,725,541,1920,124,60,153,37,609,2212,30,160
7967,2016-2017,lebron james,398,186,58,650,662,2137,109,81,191,31,679,2462,31,177
8460,2017-2018,lebron james,466,171,85,841,824,2552,126,99,239,38,803,3018,32,215
8935,2018-2019,lebron james,219,112,32,446,352,1177,53,31,101,12,389,1378,33,98
9387,2019-2020,lebron james,267,121,37,639,665,1631,76,51,160,28,536,1868,34,142
9862,2020-2021,lebron james,240,105,41,510,459,1443,65,46,136,16,500,1655,35,122
10388,2021-2022,lebron james,202,66,44,482,275,1326,55,37,93,15,378,1504,36,103
10906,2022-2023,lebron james,246,77,39,585,368,1482,57,42,104,23,472,1698,37,120

In [11]:
# Guardar el DataFrame fusionado actualizado como CSV
Fusionado_filtrado.to_csv('Fusionado_final.csv', index=False)

# Verificación
print("CSV actualizado correctamente.")

CSV actualizado correctamente.